*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-color:  hsl(148, 38%, 91%);
    font-family: "Karla", sans-serif;
    color: hsl(187, 24%, 22%);
}

form{
    min-height: 75%;
    width: 51%;
    padding: 40px;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    border-radius: 16px;
}

fieldset{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}

input:focus,input[type="radio"]:focus textarea:focus, select:focus {
    outline: 2px solid #007bff;
  }

label{
    font-size: 16px;
    letter-spacing: 0px;
}

.radio-contaneir-left label, .radio-contaneir-right label{
   font-size: 18px;
}

legend{
    width: 100%;
    height: 32px;
    padding-bottom: 32px;
}

legend h1{
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -1px;
    color: hsl(187, 24%, 22%);
    font-weight: 900;
}

.container-names{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
    height: 83px;
    margin-bottom: 24px;
}

.first-name, .last-name{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.first-name{
    padding-right: 8px;
}

.last-name{
    padding-left: 8px;
}

.first-name input, .last-name input, .email{
    width: 100%;
    height: 51px;
    margin-top: 8px;
    border: 1px solid hsl(186, 15%, 59%);
    border-radius: 8px;
}
.query-type{
    margin-top: 24px;
}

.container-query-types{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 51px;
    margin-top: 8px;
}

.radio-contaneir-left, .radio-contaneir-right{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    height: 100%;
    border: 1px solid hsl(186, 15%, 59%);
    border-radius: 8px;
    padding-left: 24px;
}

.radio-contaneir-left{
    margin-right: 8px;
}


.radio-contaneir-right{
    margin-left: 8px;
}

  input[type="radio"] {
    appearance: none;
    background-color: #fff;
    margin-right: 24px;
    width: 24px;
    height: 24px;
    border: 1px solid hsl(169, 82%, 27%);;
    border-radius: 50%;
  }

  input[type="radio"] {
    /* ...existing styles */
    display: grid;
    place-content: center;
  }
  
  input[type="radio"]::before {
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em hsl(169, 82%, 27%);;
  }
  
  input[type="radio"]:checked::before {
    transform: scale(1);
  }

textarea{
    width: 100%;
    height: 105px;
    border: 1px solid hsl(186, 15%, 59%);
    border-radius: 8px;
}

.l-message{
    margin: 24px 0 8px 0;
}

.checkbox{
    display: flex;
    align-content: center;
    margin: 40px 0 40px 0;
}

.checkbox input{
    width: 24px;
    height: 24px;
    margin-right: 16px;
}

button{
    background-color: hsl(169, 82%, 27%);
    width: 100%;
    height: 59px;
    border-radius: 8px;
    color: hsl(0, 0%, 100%);
    font-size: 18px;
    line-height: 150%;
}